<div class="container">
    <div class="row">
        {{#each roallercoasters}}

        <div class="col-4 mt-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{imageUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>


        {{/each}}
    </div>
</div>