<div class="container">
    <div class="row">
        {{#each coasters}}
        <div class="col-md-4">
            <article class="card-group">
                <img src="{{imageUrl}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
            </article>
        </div>
        {{/each}}
    </div>
</div>