<div>
    <div class="container">
        <h1>Roller Coaster</h1>
        <div class="col-md-12 text-center">
            <a href="/coasters-gallery" class="btn btn-dark">Check the roller coasters!</a>
        </div>
    </div>