<div class="container">

    <h1><strong>Bienvenido a la primera web de Coasters del mundo!</strong></h1>

    <div class="button">
        <a href=" /coaster-gallery"><button type="button" class="btn btn-dark" href=>Ven a ver las
                coaster-gallery</button></a>
    </div>
    <div class="button">
        <a href=" /longes-page"><button type="button" class="btn btn-dark" href=>¡Las Coasters más largas!</button></a>
    </div>
    <div class="button">
        <a href=" /craziest-page"><button type="button" class="btn btn-dark" href=>¡Las Coasters más locas!</button></a>
    </div>
    <div class="homeImage">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTck3ugPKckBxuJDwuFJrFV5m0OY-M1Sdnai18ypMpjR444eHXESFB2blyN5yj_os34dEw&usqp=CAU"
            alt="">
    </div>
</div>