<div class="d-flex flex-column justify-content-center align-items-center py-5">
    <figure class="coaster-img">
        <img src="{{coaster}}" alt="Coaster" srcset="">
    </figure>

    <a class="btn btn-primary btn-lg my-3" href="/coasters-gallery">Check the coasters</a>
    <a class="btn btn-primary btn-lg my-3" href="/random-coaster">Check a random coaster!</a>
</div>