<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img class="img-main" src="../img/coaster.jpg" alt="coaster">
            <h1>Las mejores montañas rusas del mundo!!!</h1>
            <div class="row justify-content-center">
                <div class="col-4">
                    <a class="btn btn-secondary" href="/coasters-gallery" role="button">Coasters gallery</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-secondary" href="/longest" role="button">Longest</a>
                </div>

                <div class="col-4">
                    <a class="btn btn-secondary" href="/craziest" role="button">Craziest</a>
                </div>
            </div>
        </div>
    </div>
</div>