<img src="/images/roller.jpg" class="rounded mx-auto d-block mainPic" alt="RollerCoaster">

<p>Check all of them</p>
<div class="buttonA">
    <a href="/coasters" class="btn btn-dark mt-3 mb-5 ">All of the best Coasters</a>
</div>
<hr>

<p>too hard to choose?</p>
<div class="buttonB">

    <a href="/longest" class="btn btn-dark mt-3 mb-5 ">Find the longest ones! </a>
    <a href="/craziest" class="btn btn-dark mt-3 mb-5 ">Find the Craziest ones! </a>
</div>

<hr>
<a href="/help" class="btn btn-info mt-3 mb-5 buttonc">Need help? </a>