<div class="container">

    <div class="index">

        <h1 class="gallery">Wellcome to the worst roller coaster's site ever!</h1>

        <div class="row">
            <div class="col-md-6">
                <img class="img-index"
                    src="https://static.demilked.com/wp-content/uploads/2021/09/61516c9ab6004-hilarious-roller-coaster-photos-211-61481dfc69338__700.jpg"
                    alt="roller coaster">
            </div>


            <div class="buttons col-md-6">
                <div class="B1">
                    <a href="/coasters" class="btn btn-secondary btn-lg ">See all the coasters</a>

                </div>
                <div class="B2">
                    <a href="/longest" class="btn btn-secondary btn-lg ">See the longest one</a>

                </div>
                <div class="B3">
                    <a href="/craziest" class="btn btn-secondary btn-lg ">See the craziest </a>
                </div>
            </div>

        </div>


    </div>

</div>