<div class="container mt-5">
    <h1>Bienvenid@s!</h1>
    <hr>
    <a href="/gallery" class="btn btn-dark">Galería</a>
    <a href="/longest-coasters" class="btn btn-dark">Montañas rusas más largas</a>
    <a href="/craziest-coasters" class="btn btn-dark">Montañas rusas con más inversiones</a>
</div>