<div class="index-page">
    <div class="container">
        <div class="container">
            <div class="container">
                <img src="/img/rollercoaster-wild-ride.gif" alt="">

                <hr>
                <div class="botones">

                    <a href="/coasters-gallery" class="btn btn-danger">Coasters gallery</a>
                </div>
                <div class="botones">

                    <a href="/longest" class="btn btn-danger">The longest coasters</a>
                </div>
                <div class="botones">

                    <a href="/longest" class="btn btn-danger">The craziest coasters</a>
                </div>
            </div>
        </div>
    </div>
</div>