<div class="container">
    <hr>
    <h1>Welcome to the world of roller coasters!</h1>

    <img src="../img/preview.jpg" alt="coaster">


    <a href="/coasters-gallery" class="btn btn-dark">Go to coasters</a>

</div>