<div class="container">
  <div class="row">
    <div class="col">
      <div
        class="d-flex flex-column justify-content-center align-items-center gap-3 vh-100"
      >
        <img src="../images/roller-logo.svg" alt="" width="300px" />
        <a class="btn btn-outline-dark" href="/coasterGallery">Coaster Gallery</a>
      </div>

    </div>
  </div>
</div>