<div class="home-content">
    <h1 class="text-center">WELCOME TO COASTER LAND!</h1>

    <P class="text-center">here we will offer you the best selection of roller coasters in the world, from the
        highest
        to
        the fastest, from the
        funniest to the creepiest.</P>

    <h4 class="text-center">LET'S GOOOOOO!!!</h4>
</div>