<div class="container index-btn">

    <div class="row justify-content-center">
        <img class="logo" src="/img/logo.jpg" alt="logo">
    </div>

    <p class="text-center">
        <a type="button" class="btn btn-outline-dark" href="/coasters-gallery">Watch the Gallery!</a>
    </p>

    <p class="text-center">
        <a type="button" class="btn btn-outline-dark" href="/longest">Do you wanna check the longest?</a>
    </p>

    <p class="text-center">
        <a type="button" class="btn btn-outline-dark" href="/craziest">Check out the craziest!</a>
    </p>

</div>