body {
    padding: 100px;
    /* background-image: url(./img/coasters.jpeg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image: linear-gradient(to left, black, white);
}



.container h1 {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.container hr {
    height: 10px;
    background-color: black;
}

.logo {
    position: relative
}


footer {
    background-color: #212429;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: .8em;
    text-align: center;
    padding: 3px;
}