body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

img {
    width: 100%;
}




.body-buttoms {

    width: 35%;
    gap: 1rem;
}

.beer-image {
    margin-top: 2rem;
}

.beer-image img {
    width: 100%;
}

.color-grey {
    color: #bfbfbf;
}