img{
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home{
    background-color: rgb(80, 80, 80);
    padding: 400px;
}
.text{
    color:white;
    
}

.text p{
    font-size: 40px;
}