<div class="container text-center">

    <h1>Roller Coasters</h1>


    <div class="row">
        {{#each coaster}}
        <div class="col-md-4">

            {{>coasterCard}}

        </div>

        {{/each}}

    </div>
</div>