<div class="container">
    <div class="row">
        <h1>The craziest coasters with more than 3 inversions are ...</h1>
        {{#each coasters}}
        <div class="col-lg-4">
            {{>coasterpartial}}
        </div>
        {{/each}}
    </div>
</div>