<div class="container col-md-6 text-center p-5">
  <p><a href="/coasters-gallery" class="btn btn-primary btn-lg">Galería!</a></p>
  <p><a href="/longest" class="btn btn-primary btn-lg">Las más altas!</a></p>
  <p><a href="/craziest" class="btn btn-primary btn-lg">Las más locas!</a></p>
</div>