<div class="container ">
    <div class="row align-items-center ">

        <div class="col-md-7">
            <div class="index-beer rounded mx-auto d-block">

                <img src="/img/rollerCoaster.jpg" alt="beer">
            </div>
        </div>
        <div class="col-md-5  ">
            <div class="body-buttoms row">
                <a href="/coasters-galery" class=" justify-content-center btn btn-dark">Coaster Galery</a>
                <a href="/craziest" class=" btn btn-outline-dark">Craziest</a>
                <a href="/longest" class=" btn btn-outline-dark">Longest</a>
            </div>
        </div>
    </div>
</div>