<div class="container ">
    <h1>Welcome to the best coasters page</h1>
    <hr>
    <div class="container d-flex mt-5 justify-content-center">
        <a class="btn btn-dark m-3" href="/coasters-gallery">Ver Monta침as Rusas</a>
        <a class="btn btn-dark m-3" href="/longest">Ver Monta침as m치s largas</a>
        <a class="btn btn-dark m-3" href="/craziest">Ver Monta침as Rusas mas locas</a>
    </div>
</div>