<div class="container">
    <h1>RollCoaster site!</h1>
    <hr>
    <img src="/images/coaster.png" alt="coaster_animate" class="mx-auto d-block rounded homePage-Img">
    <a href="/coasters-gallery" class="btn btn-dark">Watch the coaster</a>
</div>