<div class="text-center">
    <h1 class="">MVC de Montañas Rusas</h1>
    <img src="/Imagen.jpg" class="rounded" alt="..." width="800px">
    <hr>
    <a href="/coasters-gallery" class="btn btn-dark">Coasters Page</a>
</div>