<div class="container">
    <h1>Este es el inicio</h1>
    <hr>
    <a href="/coaster-gallery" class="btn btn-dark">See Coasters!</a>
    <a href="/coaster-gallery" class="btn btn-dark">The Longest Coasters!</a>
    <a href="/coaster-gallery" class="btn btn-dark">The Craziest Coasters!</a>
</div>