<div class="container">
    <h1>Welcome to Chiara Manni's World of Coasters!</h1>
    <hr>

    <h3>What is a roller coaster?</h3>


    <div class="row">
        <div class="col-6">
            <p>A roller coaster is a type of amusement ride employing a form of elevated railroad track that carries
                passengers
                on a
                train through tight turns, steep slopes, and other elements designed to produce a thrilling experience.
                Trains
                consist of open cars connected in a single line, and the rides are often found in theme parks around the
                world.
                Roller
                coasters first appeared in the 17th century, and LaMarcus Adna Thompson obtained one of the first known
                patents
                for a
                roller coaster design in 1885, based on the Switchback Railway which opened a year earlier at Coney
                Island.

                Tracks are typically built and designed as a complete circuit in which trains depart from and return to
                the same
                loading
                station. One variation, a shuttle roller coaster, reverses at some point throughout the course of the
                ride to
                return to
                the station along the same path.
            </p>
        </div>



    </div>



    <h3>Here's a little history</h3>

    <div class="row">
        <div class="col-6">
            <p>The oldest roller coasters are believed to have originated from the so-called "Russian Mountains",
                specially
                constructed
                hills of ice located in the area that is now Saint Petersburg, Russia. Built-in the 17th century, the
                slides
                were
                built to a height of between 21 and 24 m (70 and 80 feet), had a 50-degree drop, and were reinforced by
                wooden
                supports.
                Later, in 1784, Catherine the Great is said to have constructed a sledding hill in the gardens of her
                palace at
                Oranienbaum in St. Petersburg.</p>

        </div>

    </div>

    <h4>Please check out my favourite coasters here:</h4>
    <a href="/coasters" class="btn btn-dark">Tiki tiki</a>

</div>