<div class="container">
    <img src="/images/coaster.png" alt="coaster_animate" class="mx-auto d-block rounded index-img">
</div>

<div class="d-grid gap-2 col-3 mx-auto">
    <a href="/gallery" class="btn btn-secondary">Go to Gallery!</a>
    <a href="/longest" class="btn btn-secondary">Go to Longest!</a>
    <a href="/craziest" class="btn btn-secondary">Go to Craziest!</a>

</div>
<div class="d-grid gap-2 col-3 mx-auto">

</div>
<div class="d-grid gap-2 col-3 mx-auto">

</div>