<div class="home-bg">
    <div class="container">

        <div class="row">
            <div class="col-md-6 m-3 mx-auto d-flex justify-content-center">
                <img class="img-fluid" src="/spongebob-rollercoaster.gif" alt="yay fun">
            </div>

            <div class="row text-center">
                <div class="col-md-6 m-3 mx-auto">
                    <button type="button" class="btn btn-light">
                        <a class="home-link" href="/coasters-gallery">Check some crazy 🎢!</a>
                    </button>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 m-3 mx-auto">
                    <button type="button" class="btn btn-danger">
                        <a class="home-link" href="/longest">The longest!</a>
                    </button>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6 m-3 mx-auto">
                    <button type="button" class="btn btn-danger">
                        <a class="home-link" href="/craziest">The kraziest!</a>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>