<div class="container m-5">
    <h1 class="text-center">This is my hoome</h1>
    <a class="text-decoration-none m-1" href="/coasters-gallery">
        <button type="button" class="btn btn-primary mx-auto d-block">Let's go to see the Coasters</button>
    </a>
</div>