<div class="container">
    <h1>Bienvenido a IronCoasters</h1>
    <p>
    <h2>Las mejores montañas rusas segun nosotros , TIKITIKI</h2>
    </p>

</div>
<HR>
</HR>
<div class="container">
    <p>En este boton tienes la respuesta a lo que buscas :</p>
    <a href="/coasters-gallery"><button type="button" class="btn btn-primary btn-lg">IronCoasters</button></a>

</div>