<div class="container home-page pt-5">

    <h1>Welcome to Roller Coaster Web!</h1>
    <hr>
    <br>
    <br>
    <p class="motivation-phrase">"Life is like a Roller coaster:
        It has its ups & downs."</p>
    <a href="/coaster-gallery" button class="cool-button">Enjoy It!</a>
</div>