<div class="container">

    <h1>Welcome to the rollercoasters of the world web page!</h1>

    <hr>
    <div class="row">
        <a class="col-3 justify-content-evenly btn btn-dark" href="/coasters-gallery">Check our
            Rollercoasters!!</a>
        <a class="col-3 justify-content-evenly btn btn-dark" href="/longest">Check our longest
            Rollercoasters!!</a>
        <a class="col-3 justify-content-evenly btn btn-dark" href="/craziest">Check our craziest
            Rollercoasters!!</a>
    </div>
</div>