<div class="container mt-4 home">
    <h1>Bienvenidos a la página de montañas rusas</h1>
    <hr>
    <p>Pulsa el siguiente botón para acceder a las mejores montañas rusas</p>
    <a href="/coasters-gallery" class="btn btn-lg btn-dark">Montañas rusas</a>
</div>