

<div class="container-fluid welcome" style="height: 100vh">
    
   <div class="card home br-5" style="width: 80rem; opacity: 0.9;">
      <div class="card-body">
         <h1 class="mb-5">WELCOME TO THE COASTERS PAGE</h1>
         
         <p class="card-text mb-5 text-muted">A roller coaster is a type of attraction consisting of a system of rails, which form one or several tracks that go up
         and down in specifically designed circuits. Trains glide along these rails, in turn made up of wagons, in which
         passengers travel conveniently fastened. The trains generally ascend the rises by means of a chain or a cable moved by
         an engine and then descend due to the effect of gravity, causing an acceleration with the aim of entertaining and
         frightening the passengers.2 During the descent there may be one or several inversions. </p>
         
         <p class="text-muted">Among them, the best known is vertical looping, which leaves travelers upside down for a short period of time. Most roller coasters have cars for two,
         four, six, eight or even twenty passengers each. The set of all joined cars is a train. The track may not define a
         closed circuit, in which case it is referred to as a shuttle-type roller coaster, although some do not consider it a
         roller coaster.</p>
         <a href="/gallery" class="btn btn-dark mt-5">COASTERS GALLERY</a>
      
      </div>
   </div>
    
  
    
    
    
    </div>