<div class="container my-5">
    <h1>Coasters</h1>
    <hr>
    <a href="/coasters-page" class="btn btn-dark">Ir a Gallery</a>
    <a href="/longest-page" class="btn btn-dark">Ir a Longest</a>
    <a href="/craziest-page" class="btn btn-dark">Ir a Craziest</a>
</div>