<div class="d-grid gap-12 col-6 mx-auto">

    <h1 class="text-primary">Welcome to the Roller Coasters Page!</h1>

</div>

<div class="d-grid gap-6 col-2 mx-auto">
    <a href="/coasters-gallery" class="btn btn-dark ">Coasters Gallery</a>
</div>