<div class="home">
    <div class="container mt-5">
        <h1>Welcome!</h1>
        <hr>
        <a href="/coastersGallery" class="btn btn-dark">See Coasters Gallery</a>
        <a href="/longestCoasters" class="btn btn-dark">See the Longest Coaster</a>
        <a href="/craziestCoasters" class="btn btn-dark">See Craziest Coasters</a>
    </div>
</div>