<div class="home-page">
    <h1>BIENVENIDXS</h1>
    <img src="https://s19499.pcdn.co/wp-content/uploads/2019/07/firebird_burst_of_flames_six_flags_america_0.jpg"
        alt="welcome">
    <a href="/coasters-gallery" class="btn btn-dark button-home">VISIT OUR GALLERY</a>
</div>