<div class="container">

    <div class="row align-center">
        <p><a href="/coaster-gallery" class="btn btn-primary align-center"> Check the Coasters
                Homie!</a>
        <p class="titulo">Check out our Roller Coasters!</p>
    </div>
</div>