<div class="container mt-4">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>WELCOME TO THE COASTERS FAN PAGE!</h1>
        </div>
        <div class="row mt-5">
            <div class="col-4 d-flex justify-content-end">
                <a href="/coasters-gallery" class="btn btn-dark">Coasters Gallery</a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/longest" class="btn btn-dark">Longest Coasters</a>
            </div>
            <div class="col-4 d-flex justify-content-start">
                <a href="/craziest" class="btn btn-dark">Craziest Coasters</a>
            </div>
        </div>

    </div>

</div>