

<div class="container">
    
    
    
   <h1>BIENVENIDO A LA PÁGINA DE COASTERS</h1>

   <p> esta va a ser una página muy bonita sobre montañas rusas</p>


   <a href="/gallery" class="btn btn-dark">COASTERS GALLERY</a>
    
    
    
    </div>