<div class="container">
    <div class=" text-align-center p-5">
        <h1 class="m-4">Welcome to our Coasters Website!</h1>
        <h2 class="m-4"> Click on the follow button to see our gallery :3</h2>
        <a href="/coasters-gallery" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Coaster
            Gallery</a>
        <a href="/longest" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Longest
            Coasters</a>
        <a href="/craziest" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Craziest
            Coasters</a>
    </div>



    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://s19499.pcdn.co/wp-content/uploads/2019/07/firebird_burst_of_flames_six_flags_america_0.jpg"
                    class="d-block w-100" alt="...">
            </div>
            {{#each allCoasters}}
            <div class="carousel-item">
                <img class="d-block w-100" src="{{imageUrl}}" alt="Second slide">
            </div>
            {{/each}}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>