<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Bienvenid@s!</h1>
            <hr>
            <a href="/coasters" class="btn btn-dark">See All</a>
            <a href="/longests" class="btn btn-dark">See the Longests</a>
            <a href="/craziests" class="btn btn-dark">See the Craziests</a>
        </div>

    </div>

</div>