<div class="container">
    <div class="home">
        <div>
            <img class="welcomeImg" src="/images/tobogan.jpg" alt="welcom">
        </div>
        <div class="button">
            <a href="/coasters-page" class="btn btn-outline-dark">Coasters Gallery</a>
            <a href="/longest-page" class="btn btn-outline-dark">Long Looooong!</a>
            <a href="/craziest-page" class="btn btn-outline-dark">Crazy!!!!</a>
        </div>
    </div>
</div>