<div class="container">
    <div class="container">
        <h1 class="text-center">Coasters World</h1>
        <img src="https://external-preview.redd.it/mO--D1PujQKb2lsvOmcrs-tnbN-lOY1btfM4VcUUctM.png?auto=webp&s=f3d601a4bf9b3933424fe80c61d928f8616af612"
            class="rounded mx-auto d-block" style="width: 40%;" alt="gusanito">
        <hr>
    </div>
    <div class="container d-flex justify-content-around">

        <a href="/coasters-gallery" class="btn btn-dark">Go to Coasters Gallery</a>
        <a href="/longest-coaster" class="btn btn-dark">Longest Coasters</a>
        <a href="/craziest-coaster" class="btn btn-dark">Craziest Coasters</a>
    </div>

</div>