<div class="row justify-content-center mb-3">

    <div class="d-grid col-4">
        <img class="coasters object-fit-contain mx-auto mb-5" src="../images/rollercoaster.png" alt="Roller Coaster"></img>
        <a href="/coasters-gallery" class="buttonCheck btn btn-blue mx-auto mb-5" role="button">Check it Out!</a>
    </div>
</div>