<button type="button" class="btn btn-dark"><a href="/coasters-gallery">Go to Gallery!</a></button>
<button type="button" class="btn btn-dark"><a href="/craziesty">Go to Gallery!</a></button>
<button type="button" class="btn btn-dark"><a href="/longest">Go to Gallery!</a></button>