<div class="container">
    <div class="row justify-content-center mb-3 imgPort">

        <h1 class="tit">LAS MONTAÑAS RUSAS MÁS ACOJONANTES DEL MUNDO</h1>



        <img src="https://bestonjuegosmecanicos.com.mx/wp-content/uploads/2020/08/mini-monta%C3%B1a-rusa-animales.jpg"
            class="card-img-top" alt="">

    </div>
</div>
</div>