<div class="container">

    <h1>Bienvenid@s</h1>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {{!-- {{>coaster-img}} --}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <a class="btn btn-dark m-3" href="/coasters-gallery" role="button">Take a look</a>

</div>