<div class="container">

    <h1>WELCOME TO ROLLERCOASTERS</h1>

    <hr>

    <div class="coaster-img">
        <img src="/image/FrayedImprobableElephant-size_restricted.gif" alt="">
    </div>
   
    <div class="button">
        <a href="/coasters-gallery" class="btn btn-dark">See all</a>
    </div>

    <div class="button">
        <a href="/longest" class="btn btn-dark">Longest Coasters</a>
    </div>

    <div class="button">
        <a href="/craziest" class="btn btn-dark">Craziest Coasters</a>
    </div>

</div>