<div class="container1">

    <h1>Las mejores Montañas Rusas del Mundo !! </h1>

    <div class="imageHome">
        <img src="../img/imagen_1.jpg" alt="imageHome">
        <div class="buttonsHome">
            <a class="btn btn-primary" href="/" role="button">Volver a Inicio</a>
            <a class="btn btn-primary" href="/coasters-gallery" role="button">Ver la galería de montañas rusas</a>
        </div>
    </div>