<div class="container">
    <div class=" text-align-center p-5">
        <h1 class="m-4">Welcome to our Coasters Website!</h1>
        <h2 class="m-4"> Click on the follow button to see our gallery :3</h2>
        <a href="/coasters-gallery" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Coaster
            Gallery</a>
        <a href="/longest" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Longest
            Coasters</a>
        <a href="/craziest" class="btn btn-primary btn-lg active m-4" role="button" aria-pressed="true">Craziest
            Coasters</a>
    </div>
</div>