<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lab Coasters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>




    {{{body}}}



</body>


<footer>

    <a href="/coasters-gallery" class="btn btn-dark">a la galeria de Coasters</a>


    <a href="/longest" class="btn btn-dark"> Las mas largas!</a>

    <a href="/craziest" class="btn btn-dark"> las mas locas!</a>

    <a href="/" class="btn btn-dark">Volver a inicio</a>
</footer>


</html>