<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>coasters_mvc</title>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <form class="container-fluid justify-content-start">
            <a href="./" class="btn btn-outline-success me-2" type="button">Home page</a>
            <a href="./coaster-gallery" class="btn btn-sm btn-outline-secondary" type="button">Coaster Gallery</a>
        </form>
    </nav>

    {{{body}}}

    <footer>"Are you ready for an adventure? Adrenaline party!"</footer>

</body>

</html>