<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coasters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>

<body>
    <div class="container">
        <nav class="navbar mt-5">
            <form class="form-inline">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/coasters-gallery">Coasters Gallery</a>
                <a class="navbar-brand" href="/longest">Longer Coasters</a>
                <a class="navbar-brand" href="/craziest">Craziest</a>
    </div>
    </nav>
    </div>

    {{{body}}}

</body>

</html>