<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COASTER</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/css.css">

</head>

<body>
    <nav class="navbar bg-warning" style="background-color: #ffae42;">
        <div class="container-fluid justify-content-start">
            <a class="navbar-brand" href="/">HOME</a>
            <a class="nav-link" href="/coasters-gallery">COASTER</a>
            <span>&nbsp</span>
            <a class="nav-link" href="/longest">LONGEST</a>
            <span>&nbsp</span>
            <a class="nav-link" href="/crazy">CRAZY</a>
        </div>
    </nav>

    {{{body}}}

</body>

</html>