<div class="container my-5">
    <h1>Coasters Longest</h1>
    <hr>
    <div class="row">
        {{#each coasters}}
        <div class="mb-3 col-sm-12 col-md-6 col-lg-3">
            <div class=" card p-3">
                <article class="coaster-card">
                    <div class="img-card">
                        <img class="d-block mx-auto mb-2" src="{{imageUrl}}" alt="{{title}}">
                    </div>
                    <p><strong>{{title}}</strong></p>
                    <p>{{description}}</p>
                </article>
            </div>
        </div>
        {{/each}}
    </div>
    <hr>
    <a href="/" class="btn btn-dark">Ir a Home</a>
    <a href="/coasters-page" class="btn btn-dark">Ir a Gallery</a>
    <a href="/craziest-page" class="btn btn-dark">Ir a Craziest</a>
</div>