<div class="container">
	<h2 class="m-3">Longest Coasters Gallery</h2>
	<hr>
	<p class="py-3">Here you can find the collection of the Longest coasters from the collection</p>
	{{>coastersGrid}}
</div>