<div class="container">
    <h1>Roller Coaster site MVC!</h1>
    <hr>
    <img src="img/roller.jpeg" alt="Roller Coaster" class="img-thumbnail">
    <div class="d-flex justify-content-around">
        <a href="/coasters-gallery" class="btn btn-dark btn-lg">See all the Roller Coasters!</a>
        <a href="/longest" class="btn btn-dark btn-lg">See the longest Roller Coasters!</a>
        <a href="/craziest" class="btn btn-dark btn-lg">See the craziest Roller Coasters!</a>
    </div>
</div>